
.container {
  padding: 3% 13% 3% 13%;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: SFMono-Regular,Consolas,Liberation 
}

.main-title {
  font-size: 36px;
  font-weight: 600;
}

.sub-title {
  font-size: 30px;
  font-weight: 400;
  padding: 140px 0 20px 0;
}

.my-page-head-title {
  font-size: 24px;
  font-weight: 400;
  padding: 300px 0 20px 0;
}

.about-me-head-title {
  font-size: 24px;
  font-weight: 400;
  padding: 100px 0 20px 0;
}

.contact-subtitle  {
  font-size: 22px;
  font-weight: 400;
  margin: 0px 0 50px 0;
}

.hero-paragraph {
  font-size: 20px;
  font-weight: 200;
  padding: 160px 0 160px 0;
  width: 95%;
}

.about-me-content-container {
  display: flex;
  padding: 0px 0 100px 0;
}

.about-me-image-container img {
  height: 400px;
  width: auto;
}

.about-me-paragraph {
  font-size: 18px;
  font-weight: 200;
}

.button {
  /* background-color: rgb(28, 83, 49); */
  background-color: rgb(148, 67, 21);
  padding: 12px 16px;
  border-radius: 2px;
  border: none;
  color: white;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
  height: 50px;
  width: 300px;
  margin-top: 15px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.my-page-card {
  margin: 0px 0 20px 0;
  background-color: rgb(148, 67, 21);
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  border-radius: 2px;
}

.my-page-title {
  font-size: 20px;
  font-weight: 600;
  color: black;

}

.my-page-info {

}

.my-page-image {
  height: 300px;
  width: 152.5%;
}

.my-page-image img {
  object-fit:cover;
  width: 100%;
  height: 300px;
  object-position: 50% 100% ;
}

.my-page-info-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
}

.read-more-button {
  background-color: black;
  padding: 12px 16px;
  border-radius: 2px;
  border: none;
  color: white;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
  height: 50px;
  width: 150px;
  margin-top: 15px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  overflow: hidden;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
}

.active-nav-title {
  border-bottom: white solid 2px;
  margin-bottom: -2px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content:left;
}

.contact-container-right {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 40%;
  justify-content: flex-start;
  justify-content: space-between;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
}

.contact-container-left {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.hero-container {
  display: flex;
}
.hero-container-left {
  width: 60%;
}

.hero-container-right {
  width: 40%;
}

.hero-container-right img {
  width: auto;
}


@media (max-width: 1023px) {

.hero-paragraph {
  display: none;
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.hero-container-right {
  width: 50%;
  margin-top: 50px;
}

.my-page-image {
  display: none;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content:left;
}

.about-me-image-container img {
  object-fit: cover;
  object-position: 50% 50%;
}

.my-page-info-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
}

.contact-container-right {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  justify-content: flex-start;
  justify-content: space-between;
}

.my-page-head-title {
  font-size: 24px;
  font-weight: 400;
  padding: 100px 0 20px 0;
}
}